Ты играешь в кооперативную игру, в которой тебе нужно угадать слово, которое тебе загадал другой игрок.

Ты можете высказать одну догадку в каждом раунде. Вы выигрываете, если ты угадаешь загаданное слово. Вы проигрываете, если ты не сможешь угадать его за $N$ попыток.

После каждого раунда ты будете получать от другого игрока новую подсказку, которая всегда начинается со слова CLUE.

Формулируй свои догадки в таком формате: GUESS: <какое-то слово>.

Давай начнем.